<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMagic</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/3b1c75d67e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <a href="/">MOVIE <img class="logo" src="/popcorn.png" alt=""> MAGIC</a>
            <form action="/search" method="POST">
                <input class="search" type="text" placeholder="Search movies" name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <a href="/favs">MY FAVORITES <i class="far fa-heart"></i></a>
        </nav>
    </header>