@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");
@import "./node_modules/sal.js/dist/sal.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(24, 24, 24);
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px 0;
  color: white;
  background: black;
  padding: 1em 2em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 1.2em;
}
nav a {
  color: white;
  font-size: 1.4em;
  transition: all 0.3s linear;
}
nav a:hover {
  color: grey;
}
nav a:first-of-type {
  letter-spacing: 2px;
}
.logo {
  width: 1.2em;
  animation: shake 0.5s ease-in-out infinite;
}
@keyframes shake {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
nav input {
  background: white;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 20em;
  margin: 0.3em;
  outline: none;
}
::placeholder {
  font-weight: 300;
}
nav form {
  display: flex;
  align-items: center;
}
nav button i {
  font-size: 2em;
  background: none;
  color: white;
}
nav button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.fa-heart {
  animation: beat 1.5s ease infinite;
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
input {
  outline: none;
  color: black;
}
#all-movies,
#favs,
#results {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
  padding: 0 2em;
}
#all-movies .img-wrap,
#favs .img-wrap,
#results .img-wrap {
  transition: transform 0.5s, opacity 0.5s;
}
#all-movies img,
#favs img,
#results img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 15px 40px -4px rgba(0, 0, 0, 0.9);
}
#all-movies .img-wrap:hover,
#favs .img-wrap:hover,
#results .img-wrap:hover {
  opacity: 0.5;
  transform: scale(1.02);
}
.title-wrap {
  margin: 1em 0;
}
.title-link {
  font-weight: 400;
  font-size: 1.1em;
  color: white;
  transition: opacity 0.5s;
}
.title-link:hover {
  opacity: 0.5;
}
#details,
#fav-details {
  color: white;
  padding: 0.5em 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}
.fa-star {
  color: gold;
  font-size: 1.5em;
}
#details ul,
#fav-details ul {
  list-style: none;
  display: flex;
  padding: 1em 0;
}
#details ul li,
#fav-details ul li {
  margin: 0 0.2em;
  padding: 0.2em 0.5em;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 200;
}
#details img,
#fav-details img {
  height: 85vh;
  object-fit: cover;
  border-radius: 20px;
}
.addFav {
  color: white;
  font-size: 1.3em;
}
/* .flex {
  display: flex;
} */
.info {
  /* padding: 0 5%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.info h1 {
  font-size: 5em;
  letter-spacing: 15px;
  padding-bottom: 0.2em;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.info h5 {
  letter-spacing: 3px;
  padding-bottom: 0.5em;
}
.info p {
  font-weight: 200;
  padding: 0.5em 0 2em 0;
  font-size: 1.2em;
}
.info h4 {
  font-size: 1.5em;
}
.rating {
  padding: 0.5em;
  position: absolute;
  background: rgba(201, 201, 201, 0.8);
  color: black;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
.rating h2 {
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.addFav {
  font-size: 1.5em;
  transition: all 0.5s;
}
.addFav i {
  color: rgb(216, 63, 17);
}
.addFav:hover {
  color: grey;
}
footer {
  margin: 3em 0;
  display: flex;
  justify-content: center;
}
.btn-page {
  margin: 0.2em;
  background: white;
  border-radius: 10px;
  display: block;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 0.8em;
  transition: all 0.2s linear;
}
.btn-page:hover {
  transform: scale(1.09);
}

@media (min-width: 768px) and (max-width: 1024px) {
  #all-movies,
  #favs,
  #results {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  #all-movies,
  #favs,
  #results {
    grid-template-columns: 1fr;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
}
